.action-trigger {
    float: right;
    padding: 0 20px;
    line-height: 49px;
}

.action-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 0;
}

.action-container-content {
    padding: 0.75rem 1rem;
}

.action {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #fff;
    transition: transform 0.3s ease;
}

.action-1 {
    z-index: 12;
}

.action-2 {
    z-index: 11;
}

.action-3 {
    z-index: 10;
}

.action-icon {
    float: left;
    width: 80px;
    height: 100%;
    line-height: 100%;
    text-align: center;
}

.action-icon * {
    display: inline;
    line-height: 49px;
}

.action-content {
    line-height: 49px;
    margin-left: 80px;
    padding-left: 15px;
}

.action-content .btn {
    width: 75px;
    margin-left: 15px;
}

.action-content input {
    padding: 0 !important;
    margin-left: 5px;
    line-height: 30px;
}

.action-container-open .action-1 {
    transform: translate3d(-80px, 0, 0);
}

.action-container-open .action-2 {
    transform: translate3d(-160px, 0, 0);
}

.action-container-open .action-3 {
    transform: translate3d(-240px, 0, 0);
}

.action-container-expand-2 .action-1,
.action-container-expand-3 .action-1,
.action-container-expand-3 .action-2 {
    transform: translate3d(0, 0, 0);
}

.action-container-expand-2 .action-2,
.action-container-expand-3 .action-3 {
    transform: translate3d(-100%, 0, 0);
}

.action-container-expand-2 .action-3 {
    transform: translate3d(calc(-100% - 80px), 0, 0);
}
